.purple-gradient{
    background: -webkit-linear-gradient(45deg,#2f1c53,#A46DFF,#F6d1fd);
    background: linear-gradient(45deg,#2f1c53,#A46DFF,#F6d1fd);
}
.blue-gradient{
    background: -webkit-linear-gradient(-120deg,#021b79,#0575e6,#205e9b);
    background: linear-gradient(-120deg,#021b79,#0575e6,#205e9b);
}
.deliceta-gradient{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.greenblue-gradient {
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #64b3f4, #c2e59c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.monto-gradient{
    background: #CC95C0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron{
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: center;
}

.gamehead{
    font-family: "Comic Sans MS", "cursive", "sans-serif";
    font-size: 3.5em;
    color: rebeccapurple;
}
#score , #timeremaining{
    background-color: #64b3f4;
    width:auto;
    height: auto;
    display: block;
    color: darkmagenta;
    font-weight: 600;
    box-shadow: 0px 4px 0px #205e9b;
    -moz-box-shadow: 0px 4px 0px #205e9b;
    -webkit-box-shadow: 0px 4px 0px #205e9b;
}
#timeremaining{
    display: none;
}
.center{
    margin-left: 40%;
    text-align: center;
}
.content{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
#startreset{
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.fa-heart {
    color: hotpink;
}
#gameOver{
    height: 300px;
    width: 500px;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: Yellow;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    display: none;

}